import("ltsa")
importFrom("gsl", "hyperg_2F1", "lnpoch")
importFrom("stats", "ARMAacf", "convolve", "fft", "rnorm", "toeplitz", "nextn",
      "optim", "spec.pgram", "var", "is.ts", "arima.sim", "acf", "pchisq")
importFrom("grDevices", "rgb")
importFrom("graphics", "lines", "plot", "abline", "layout")
export("artfima",
"artfimaSDF",
"print.artfima",
"plot.artfima",
"print.bestmodels",
"artfimaTACVF",
"artsim",
"informationMatrixARTFIMA",
"seARTFIMA",
"Periodogram",
"tseg",
"bestModels",
"best_glp_models"
)

S3method("print", "artfima")
S3method("plot", "artfima")
S3method("print", "bestmodels")
