import("ltsa")
importFrom("gsl", "hyperg_2F1", "lnpoch")
importFrom("stats", "ARMAacf", "convolve", "fft", "rnorm", "toeplitz",
    "nextn", "optim", "spec.pgram", "var", "is.ts", "arima.sim")
importFrom("parallel","clusterSetRNGStream","makeCluster","clusterExport",
 "clusterEvalQ","parSapply","stopCluster")
importFrom("grDevices", "rgb")
importFrom("graphics", "lines", "plot")
export("artfima",
"artfimaSDF",
"print.artfima",
"plot.artfima",
"summary.bestmodels",
"tacvfARTFIMA",
"artsim",
"informationMatrixARTFIMA",
"seARTFIMA",
"Periodogram",
"tseg",
"bestModels",
"best_glp_models"
)

S3method("print", "artfima")
S3method("plot", "artfima")
S3method("summary", "bestmodels")
